// Stylus docs:  http://learnboost.github.com/stylus/docs/js.html
// Nib docs:     http://visionmedia.github.com/nib

@import 'nib'

body, html
  height 100%

body
  background linear-gradient(to bottom, #222, #333)
  font normal 1em 'Open Sans',sans-serif
  text-align center

h1
  font-size 1.2em
  font-weight normal
  margin 50px
  margin-top 25px
  color #fff
  text-shadow 1px 1px 2px black
  letter-spacing 25px

figure
  display inline-block
  margin-right 1.5em
  margin-left 1.5em
  margin-bottom 2em
  figcaption
    padding-top 5px
    font-size 1em
    font-weight normal
    color #fff
    text-shadow 1px 1px 2px black

#content
  padding 50px

#videoStream, #canvasStream
  border 1px solid #666
  box-shadow 0px 0px 25px #555
  display block
  margin-left auto
  margin-right auto

