<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8'/>
    <SocketStream/>
    <title>Visidyn</title>
  </head>
  <body>
    <div id="content">
      <a href="http://visidyn.com">
        <img src="/images/visidynAvatar.png" alt="Visidyn Avatar"/>
      </a>
      <h1>VISIDYN</h1>
      <figure>
        <video id="videoStream" width="640" height="480" autoplay ></video>
        <figcaption>Video Stream</figcaption>
      </figure>
      <figure>
        <canvas id="canvasStream" width="640" height="480" autoplay></canvas>
        <figcaption>Canvas Stream</figcaption>
      </figure>
    </div>
  </body>
</html>
